.facebook {
  display: inline-flex;
  width: 100%;
  height: 100%;

}
.message {
  margin-left: 10%;
  width: 20%;
  background-color: darkturquoise;
  color: white;
  padding: 100px 10px 10px 80px;
}
p, h1{
  padding-left: 10%;
  padding-right: 10%;
}
.details {
  margin-right: 10%;
  border: 1px solid grey;
  padding: 100px 10px 10px 100px;
  background-color: white;
  color: black;
  text-align: left;
}






