table {
    border-collapse: collapse;
    text-align: center;
}
    th{
        padding: 10px 10px 10px 10px;
        border-radius: 30px;
    }
    td{
        padding: 10px 10px 10px 10px;
        text-align: center;
    }
    tr {
        padding: 10px 10px 10px 10px;
        font-size: 15px;
    }