.tableContainer{
    padding: 20px;
    background-color: lightgray;
}
table{
    width: 50%;
    border-collapse: collapse;
    padding: 5px;
}
th,td{
    padding: 10px;
    text-align: center;
    border: 1px solid lightgray;
}
th{
    background-color: #61dafb;
    color: white;
}
tr:hover{
    background-color: aquamarine;
}
td:nth-child(2){
    color: red;
}
