body {
    background-image: url('../images/CSSbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.profile-content {
    width: auto;
    height: 800px;

    .bg-logo {
        display: flex;
        justify-content: center;
        position: relative;

        .link-mail {
            top: 45px;
            left: 1143px;
            display: flex;
            position: absolute;

            img {
                width: 20px;
                height: 20px;
                margin-right: 20px;
            }
        }

        .bg-img {

            width: 1100px;
            height: 300px;
        }


        .menu-buttons {
            top: 79%;
            left: 64%;
            display: flex;
            position: absolute;

            a {
                text-decoration: none;
            }

            .follow-button {
                display: flex;
                align-content: stretch;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                background-color: #004080;
                /* #1f4f99*/
                border-radius: 30px;
                width: 140px;
                height: 40px;
                color: white;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
                position: sticky;

                img {
                    padding-right: 10px;
                }
            }

            .view-more-button {
                display: flex;
                align-content: stretch;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                background-color: #004080;
                border-radius: 30px;
                width: 160px;
                height: 40px;
                color: white;
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                position: sticky;

            }

        }

        .circle-image {
            position: absolute;
            width: 150px;
            height: 150px;
            top: 120px;
            left: 150px;
            border-radius: 50%;
            object-fit: cover;
            z-index: 1;

        }
    }
}

/*Self-info*/

.info {
    display: flex;
    width: 1100px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;

    .self {
        display: block;
        position: relative;
        width: 40%;
        text-align: center;
        background-color: #004080;
        color: #fff;

        p {

            font-weight: 500;
            font-size: 25px;
            margin-top: 10px;
            margin-bottom: 50px;
        }

        .name {
            margin-top: 140px;
            font-weight: 600;
            font-size: 34px;
            margin-bottom: 10px;
        }

        .links-social {
            img {
                margin-right: 20px;
                margin-top: 20px;
            }
        }
    }

    .about-exp {
        width: 60%;
        background-color: white;
        padding: 20px 30px 60px 30px;

        h1 {
            color: #004080;
        }

        p {
            font-weight: 300;
            font-size: 18px;
            font-family: system-ui, sans-serif;
            line-height: 26px;

            strong {
                font-weight: 450;
                font-size: 18px;
            }
        }
    }

}
