body{
    margin: 0px;
}
.resume {
    width: 1430px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    .resume-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1470px;
        .resume-left {
            width: 30%;
            height: 100%;
            background-color: #a6c7e3;
            justify-content: center;
            align-items: center;

            .profile {
                margin: 35px 40px 35px 40px;

                .profile-image {
                    display: flex;
                    justify-content: center;

                    img {
                        height: 150px;
                    }
                }

                .contact {
                    border: 1px solid #ab6930;
                    padding-left: 20px;
                    margin: 30px 00px 30px 00px;
                    font-size: 16px;
                    font-weight: 500;

                    h4 {
                        text-align: center;
                        color: #c95d0a;
                        font-size: 20px;
                        font-weight: bold;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

                    p {
                        img {
                            padding-right: 20px;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: black;
                        padding-left: 20px;
                    }
                }

                .technical-skills-info {
                    border: 1px solid #c95d0a;
                    height: auto;
                    width: auto;

                    h4 {
                        padding-left: 20px;
                        margin-bottom: 10px;
                        text-align: center;
                        color: #c95d0a;
                        font-size: 20px;
                        font-weight: bold;
                        margin-top: 10px;
                    }

                    ul {
                        margin-top: 0px;
                        line-height: 22px;
                        margin-right: 20px;
                    }

                    strong {
                        font-weight: 600;
                        color: black;
                    }
                }
            }
        }

        .resume-right {
            display: inline-flex;
            top: 0px;
            width: 70%;
            height: 760px !important;
            background-color: #c2dbf0;
            .right-contact {
                padding-left: 30px;
                padding-right: 30px;
                margin-top: 10px;
                margin-bottom: 10px;

                h2 {
                    text-align: center;
                    font-size: 20px;
                    font-weight: 600;
                    border-bottom: 2px solid #c95d0a;
                }

                .profile-name {
                    text-align: center;

                    h1 {
                        font-size: 40px;
                        margin-block-start: 20px;
                        margin-block-end: 0px;
                        color: #c95d0a;
                    }

                    h3 {
                        font-size: 25px;
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-top: 10px;
                    }
                }

                .infosys {

                    .role-name {
                        padding-right: 650px !important;
                    }
                }

                .kagami, .sce {
                    .year {
                        padding-left: 670px;

                    }
                }

                .experience {
                    .role {
                        .role-name {

                            color: #c95d0a;
                            text-transform: uppercase;
                            font-weight: 500;

                        }

                        .year {
                            color: #c95d0a;

                        }

                        .company {
                            font-style: italic;
                        }
                    }

                    .roles-responsibilities {
                        ul {
                            margin-top: 08px;
                            margin-bottom: 08px;
                        }
                    }
                }

                .education {
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
}
