
body {
  background-color: azure;
}

.facebook {
  font-size: 2em;
  width: 30%;
text-align: left;
  color: blue;
  padding: 20px;
}
p{
  color: black;
}
.details
{

  max-width: 450px;
  padding-left: 20px;
  background-color: white;
  border: 1px groove;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 0;

}
  .reset
  {
    font-weight: bold;
    padding-left: 20px;
    margin-right: 160px;
  }

.login {
  font-weight: bold;
  color: forestgreen;
  padding: 10px 15px 10px 15px;
  background-color: cornsilk;
}





