table{
  width: 60%;
  padding: 20px 20px 20px 20px;
  th{
    border-radius: 05px;
    border-style: groove;
    padding: 20px 20px 20px 20px;
    background-color: #a2cc4e;
    color: white;
  }
  td{
    border-radius: 05px;
    padding: 20px 20px 20px 20px;
    border-style: groove;
    text-align: center;
   background-color: #ecfad4;
    color: gray;
  }

  tr {
    text-align: left;
    font-size: 1.5em;
  }
}
