.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: dodgerblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;

}
.formElements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.firstName, .lastName, .email, .password2, .DOB{
    width: 100%;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

lable{
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 150px;
    text-align: left;
}

button{
    color: blue;
    background-color: aqua;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 200px;
    margin-left: 100px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}
button:hover{
    background-color: aquamarine;
}
th, td{
    padding: 10px;
    text-align: left;
    border: 1px solid lightgray;
}
th{
    background-color: aqua;
    color: red;
}


