form {
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    text-align: center;
    color: royalblue;
    font-size: 3em;
}

.login-box {
    display: block;
    margin-left: 20px;
    font-size: 2em;
    text-align: left;
}


select {
    display: block;
    text-align: left;
    width: 15%;
}


